.add-recipe-container {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 10px 0px;
    background: linear-gradient(#4CAF50, #38963b);
}

.detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#4CAF50;
    font-size: 26px;
    font-weight: bolder;
    height: 80vh;
}